.DS_Store
Thumbs.db

.vs/
.vscode/
.idea/

tmp/

backend/**/bin/
backend/**/obj/

frontend/sysbimbo-app/.angular/
frontend/sysbimbo-app/dist/
frontend/sysbimbo-app/node_modules/

*.user
*.suo
*.tar
*.tar.gz

.env
.env.*
!.env.example
.deploy/
__pycache__/
*.py[cod]

